{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered </h2>
    <table border="1">
      <thead>
      <tr>
        <td>Expense id</td>
        <td>Expense name</td>
        <td>Expense value</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Expense_id }}</td>
        <td> {{ .Expense_name }} </td>
        <td>{{ .Expense_value }} </td> 
        <td><a href="/show?expense_id={{ .Expense_id }}">View</a></td>
        <td><a href="/edit?expense_id={{ .Expense_id }}">Edit</a></td>
        <td><a href="/delete?expense_id={{ .Expense_id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}