{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .Expense_id }} </h2>
      <p>Expense name: {{ .Expense_name }}</p>
      <p>Expense value:  {{ .Expense_value }}</p>
      <p>Incurred on:  {{ .Incurred_on }}</p><br /> <a href="/edit?expense_id={{ .Expense_id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}